[build]
  command = "cd ../../ && pnpm install && cd packages/vue-showcase && pnpm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
